# Builds
*.exe
*.dll
*.so
*.idb
*.pdb
*.obj
*.o
*.a

# Makefiles and build data
sdpk2unpack/sdpk2unpack
sdpk2unpack/Makefile
sdpk2unpack/sdpk2unpack.make
sdpk2unpack/out/
sdpk2unpack/bin/

# data
data/*
sdpk2unpack/dump/*
