# Builds
*.exe
*.dll
*.so
*.idb
*.pdb
*.obj
*.o
*.a

# Makefiles and build data
pk2unpack/pk2unpack
pk2unpack/Makefile
pk2unpack/pk2unpack.make
pk2unpack/out/
pk2unpack/bin/

# data
data/*
pk2unpack/dump/*
